.home_contents {
  padding: 0 100px;
}

.title {
  float: left;
  width: 38%;
  font-size: 140px;
  font-family: 'Taviraj', serif;
  line-height: 1;
  font-weight: 400;
  margin-top: 6%;
  margin-left: 5%;
}
.container {
  float: left;
  width: 50%;
  height: 50%;
  margin-top: 18%;
}
.text {
  margin-left: 300px;
  line-height: 1.5;
}

/* -------------- stick -------------- */
.stick {
  position: relative;
  float: left;
  width: 200px;
  height: 5px;
}

.stick:after {
  content: '';
  color: #fff;
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 1px;
  line-height: 20px;
  left: 0;
  top: 23px;
}

.stick:before {
  content: '';
  position: absolute;
  background-color: #000;
  top: 23px;
  height: 1px;
  width: 0px;
  z-index: 0;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  -webkit-animation: stick 7s ease-in-out infinite;
  animation: stick 7s ease-in-out infinite;
}

@-webkit-keyframes stick {
  0% {
    width: 0px;
    left: 0px;
  }
  48% {
    width: 100%;
    left: 0px;
  }
  50% {
    width: 100%;
    left: 0px;
  }
  52% {
    width: 100%;
    left: 0px;
  }
  100% {
    width: 0px;
    left: 0px;
  }
}

@keyframes stick {
  0% {
    width: 0px;
    left: 0px;
  }
  48% {
    width: 100%;
    left: 0px;
  }
  50% {
    width: 100%;
    left: 0px;
  }
  52% {
    width: 100%;
    left: 0px;
  }
  100% {
    width: 0px;
    left: 0px;
  }
}

.text {
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 896px) {
  .home_contents {
    padding: 0 35px;
  }
  .title {
    float: none;
    width: 100%;
    font-size: 72px;
    line-height: 1.1;
    margin-top: 20%;
    margin-left: 0;
  }
  .container {
    float: none;
    width: 100%;
    height: 50%;
    margin-top: 15%;
  }
  .text {
    margin-left: 250px;
    line-height: 1.5;
  }
}
