@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@700&display=swap');
main {
  position: relative;
}
.resume_main {
  padding: 0 100px
}
section {
  display: block;
  float: left;
  width: 32%;
  margin: 0 2.75%;
}
section.edu {
  margin-left: 0;
}
section.skl {
  width: 25%;
  margin-right: 0
}
.resume_contents  {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px
}
.resume_contents h2 {
  font-size: 40px;
  margin: 20px 0
}
.resume_contents ul {
  list-style: none
}
.resume_contents li {
  border-left: solid 1px #000;
  padding: 0 20px
}
.resume_contents .when {
  font-family: 'Red Rose', cursive;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 1.2px
}
.resume_contents .what {
  font-size: 25px;
  font-weight: 600;
  padding: 5px 0 10px 20px;
}
.resume_contents .where {
  font-weight: 600;
  padding-bottom: 10px
}
.resume_contents li {
  line-height: 1.5
}
@media (max-width: 896px) {
  .resume_main {
    left: 0;
    padding: 0;
    margin: 0
  }
  .resume_container {
    margin: 0 35px
  }
  section {
    display: block;
    float: none;
    width: 100%;
    margin: 0
  }
  section.edu {
    margin: 0;
    width: 90%;
    margin: 0
  }
  section.exp {
    margin: 0;
    margin: 0
  }
  section.skl {
    width: 100%;
    margin-left: 0
  }
}

 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
 main {
   position: relative;
   width: 100%;
   left: 100px
 }
}
/* IE6,7,9,10 */
@media screen and (max-width: 896px), screen\9 {
  main {margin-left: 35px}
}
